body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label{ 
	display:block; 
	clear:both; 
	margin-bottom:20px; 
	border-bottom:1px dashed #666; 
} 

.form-label { 
	width:10em; 
	display:inline-block; 
	float:left; 
}